<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <jsp-config>
    <jsp-property-group>
      <url-pattern> *.jsp</url-pattern>
      <include-prelude> /WEB-INF/taglibs.jsp </include-prelude>
    </jsp-property-group>
  </jsp-config>
  <servlet>
    <description></description>
    <display-name>Welcome</display-name>
    <servlet-name>Welcome</servlet-name>
    <servlet-class>com.tp2.Servlets.Welcome</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Welcome</servlet-name>
    <url-pattern>/Welcome</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <description></description>
    <display-name>AdminServlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>com.tp2.Servlets.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/AdminServlet</url-pattern>
  </servlet-mapping>
  
  
  
  <servlet>
    <description></description>
    <display-name>InsererFormationServlet</display-name>
    <servlet-name>InsererFormationServlet</servlet-name>
    <servlet-class>com.tp2.Servlets.InsererFormationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsererFormationServlet</servlet-name>
    <url-pattern>/InsererFormationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsererFormateurServlet</display-name>
    <servlet-name>InsererFormateurServlet</servlet-name>
    <servlet-class>com.tp2.Servlets.InsererFormateurServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsererFormateurServlet</servlet-name>
    <url-pattern>/InsererFormateurServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsererLieuServlet</display-name>
    <servlet-name>InsererLieuServlet</servlet-name>
    <servlet-class>com.tp2.Servlets.InsererLieuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsererLieuServlet</servlet-name>
    <url-pattern>/InsererLieuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsererLigneFormationFormateurServlet</display-name>
    <servlet-name>InsererLigneFormationFormateurServlet</servlet-name>
    <servlet-class>com.tp2.Servlets.InsererLigneFormationFormateurServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsererLigneFormationFormateurServlet</servlet-name>
    <url-pattern>/InsererLigneFormationFormateurServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteServlet</display-name>
    <servlet-name>DeleteServlet</servlet-name>
    <servlet-class>com.tp2.Servlets.DeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteServlet</servlet-name>
    <url-pattern>/DeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateLieuServlet</display-name>
    <servlet-name>UpdateLieuServlet</servlet-name>
    <servlet-class>com.tp2.Servlets.UpdateLieuServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateLieuServlet</servlet-name>
    <url-pattern>/UpdateLieuServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateFormationServelt</display-name>
    <servlet-name>UpdateFormationServelt</servlet-name>
    <servlet-class>com.tp2.Servlets.UpdateFormationServelt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateFormationServelt</servlet-name>
    <url-pattern>/UpdateFormationServelt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateFormateurServlet</display-name>
    <servlet-name>UpdateFormateurServlet</servlet-name>
    <servlet-class>com.tp2.Servlets.UpdateFormateurServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateFormateurServlet</servlet-name>
    <url-pattern>/UpdateFormateurServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateLigneServlet</display-name>
    <servlet-name>UpdateLigneServlet</servlet-name>
    <servlet-class>com.tp2.Servlets.UpdateLigneServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateLigneServlet</servlet-name>
    <url-pattern>/UpdateLigneServlet</url-pattern>
  </servlet-mapping>
</web-app>